html{
    font-family: 'Karla', sans-serif;
}
body{
    padding-top: 12vh;
}
nav{
    display: flex;
    flex-direction: row;
    position:fixed;
    width:100vw;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    top:0;
    left:0;
    background-color: white;
    /* opacity: 0.6; */
}
.nav-links{
    display: flex;
    list-style: none;
}
li{
    padding: 0.8em;
    font-size: 18px;
    font-weight: 400;
    color:#2B2839;
    
}
.companyName{
    padding-left: 0.3em;
}
.logo-name{
    display: flex;
    align-items: center;
}
.logo{
    width:33px;
    height: 32px;
    padding-left: 0.6em;
}
#offer-link a{
    border-radius: 20px;
    color:white;
    font-size: 14px;
    text-decoration: none;
    padding:0.5em 0.8em;
    background-color: #5035FF;
}
.blob{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 5vh;
}
@media screen and (max-width: 595px) {
    #offer-link a {
      display: none;
    }
    #bearded_man{
        display: none;
    }
    #var_size_header{
        font-size: 36px;
    }
    #var_size_text{
        font-size: 20px;
    }
}
@media screen and (max-width: 410px) {
    .signup{
      display: none;
    }
}
@media screen and (max-width: 1024px) {
    .standing-guy{
      display: none;
    }
    #wheelchair{
        display: none;
    }
    .about-section-content{
        flex-direction: column;
    }
}

.site-header-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    height: fit-content;
}
.site-header{
    width: 80%;
    height: inherit;
    text-align: right;
    padding-right: 5%;
}
.site-header h1{
    font-size: 5.5em;
    color: #2B2839;
    text-shadow: 4px 4px 0 #fff;
}
.site-header h3{
    font-size: 2.2em;
}
.try-out{
    background-color: hsl(248deg 100% 60%);
    color:white;
    border:1px solid hsl(248deg 100% 60%);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size:1.1em;
}
.try-out:hover{
    transform: translateY(-3px);
    transition-duration: 0.3s;
    box-shadow:0px 2px 40px 0px rgb(0 0 0 / 30%);
}
.site-header-container img{
    height: 25em;
    width: 15em;
}
.about-section{
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
}
.about-section img{
    height: 250px;
    padding:2%;
}
.about-section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    margin-right: 3%;
    padding-right: 2%;
}
.content div{
    padding-right: 35%;
}
.content h2{
    padding-left: 6%;
    border-left: 6px solid hsl(28, 52%, 95%);;
}
#green-content{
    border-left-color: hsl(253, 100%, 95%);
}
.content h3{
    font-weight:300 ;
    line-height: 30px;
    font-size:1.2em;
}
.abt-sec-wrapper{
    display: flex;
    justify-content: center;
}
.nav-links li:hover{
    transform: translateY(-4px);
    transition-duration: 0.3s;
    border-bottom:4px solid #2B2839;
}
#offer-link:hover{
    transform: scale(1.1);
    border:none;
    animation-duration: 0.3s;
}